@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'wireone';
    src: url(/fonts/WireOne-number.ttf) format('truetype');
  }
}

body {
  /* overflow: hidden; */
  height: 100dvh;
  @apply bg-card-bg;
}

a {
  @apply border-b border-dashed text-text border-text leading-7;
}
